<head>
	<style>
		.student-detail{
			text-align:center;
		}
	</style>

<div class="student-detail">
<h1>Collections</h1>

<%=image_tag("student-avatar.png") %>
<h5>Jack Wong</h5>
<h5>Student name</h5>
</div>
<table>
<tr>
<th>Classes</th>
<th>Level</th>
<th>Price</th>
<th>Payment Due Date</th>
<th>Payment Status</th>
</tr>
<tr>
<td>English</td>
<td>Form 2</td>
<td>200</td>
<td>--</td>
<td>Paid</td></tr>
<tr>
<td>Mathematics</td>
<td>Form 2</td>
<td>200</td>
<td>--</td>
<td>Paid</td></tr>
<tr>
<td>Geography</td>
<td>Form 2</td>
<td>200</td>
<td>--</td>
<td>Paid</td></tr>
<tr>
<td>History</td>
<td>Form 2</td>
<td>200</td>
<td>31st May 2018</td>
<td>Pending</td>
</tr>
</table><br>

<div class ="student-detail">
<p>Total due: 200</p>

<form action="/students/:id/payment">
    <input type="submit" value="Make payment" />
</form>
</div>