<div class="hero-image">
  <% if current_user%>
        <div class="hero-text">
          <h1> Welcome <%= current_user.first_name %> </h1>
        </div>

      <% else %>
        <div class="hero-text">
          <h1>Clean Tutoring System</h1>
          <h2> Sign in as </h2>
          <a href="#">Admin</a>
          <a href="#">Teacher </a>
          <a href="#">Parent</a>
        </div>
  <% end %>
</div>



