<head>
	<style>
		.student-detail{
			    text-align:center;

		}

		.table th,tr{
			text-align:center;
		}
	</style>

</head>

<table>

	<div class="student-detail">
	<h1> Grades </h1>
		<%=image_tag("male.png") %>
		<p> Child's name: Sam</p>
		
	
			<tr>
				<th>Subject</th>
				<th>Grades</th>
				<th>Score </th>
				<th>Semester</th>
				<th>Previous Semester Grade</th>
			</tr>
			<tr>
				<td> Chemistry </td>
				<td> D </td>
				<td> 60 </td>
				<td>1</td>
				<td>C</td>
			</tr>
			<tr>
				<td> Biology </td>
				<td> C </td>
				<td> 72 </td>
				<td>2</td>
				<td>F</td>
			</tr>
			<tr>
				<td> Moral </td>
				<td> D </td>
				<td> 62 </td>
				<td>2</td>
				<td>F</td>
			</tr>
	</div>
</table>

<table>
		<div class="student-detail">
			<%=image_tag("female.png") %>
			<p> Child's Name: Jane </p>
		</div>
			<tr>
				<th>Subject</th>
				<th>Grades</th>
				<th>Score</th>
				<th>Semester</th>
				<th>Previous Semester Grade</th>
			</tr>
			<tr>
				<td> Chemistry </td>
				<td> A </td>
				<td> 90 </td>
				<td>1</td>
				<td>B</td>
			</tr>
			<tr>
				<td> Biology </td>
				<td> B </td>
				<td> 91 </td>
				<td>2</td>
				<td>A</td>
			</tr>
			<tr>
				<td> Moral </td>
				<td> A+ </td>
				<td> 91 </td>
				<td>2</td>
				<td>A</td>
			</tr>
</table>
