<head>
	<style>
		.student-detail p{
			float:right;
		}

		.student-detail{
			    margin-left: 40%;

		}
	</style>

</head>

<h1> hello <%=current_user.first_name%></h1>

<table>
	<div class="student-detail">
		<p> Child's name: Sam</p>
		<%=image_tag("male.png") %>
		
	</div>
			<tr>
				<th>Subject</th>
				<th>Grades</th>
			</tr>
			<tr>
				<td> Chemistry </td>
				<td> D </td>
			</tr>
			<tr>
				<td> Biology </td>
				<td> C </td>
			</tr>
			<tr>
				<td> Moral </td>
				<td> D </td>
			</tr>
</table>

<table>
		<div class="student-detail">
			<%=image_tag("female.png") %>
			<p> Child's name: Jane</p>
		</div>
			<tr>
				<th>Subject</th>
				<th>Grades</th>
				<th>Score</th>
			</tr>
			<tr>
				<td> Chemistry </td>
				<td> 91% </td>
				<td> A </td>
			</tr>
			<tr>
				<td> Biology </td>
				<td> B </td>
			</tr>
			<tr>
				<td> Moral </td>
				<td> A+ </td>
			</tr>
</table>

<table>
		<div class="student-detail">
			<%=image_tag("female.png") %>
			<p> Child's name: Jane</p>
		</div>
			<tr>
				<th>Subject</th>
				<th>Grades</th>
			</tr>
			<tr>
				<td> Chemistry </td>
				<td> A </td>
			</tr>
			<tr>
				<td> Biology </td>
				<td> B </td>
			</tr>
			<tr>
				<td> Moral </td>
				<td> A+ </td>
			</tr>



</table>