/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */
/*Top Navbar css*/
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
<<<<<<< HEAD
    background-color: #2C3A47;
=======
    background-color: #5A827F;

>>>>>>> f8255b97b5c2886ea964426bcb2d950adb2a948d
    margin-bottom: 0 ! important;
}
#button-right {
    float: right;
    padding: 20px 20px;
}
#button-right:hover {
    background-color: #353b48;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-size:18px;
}
li a:hover {
    background-color: #353b48;
}
/*Footer Css*/
/*.footer {

    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#5A827F;
    color: white;
    text-align: center;
    height: 50px;
}

.footer p{
    font-size: 20px;
<<<<<<< HEAD
    margin-top: 13px ! important;
}*/
/* Side nav bar css*/
/*
.sidenav {
    height: 100%; 
    width: 150px; 
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: #2C3A47;
    overflow-x: hidden; 
    padding-top: 20px;
=======
    top: 60%;
    bottom:50%;
>>>>>>> f8255b97b5c2886ea964426bcb2d950adb2a948d
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #8c7ae6;
    display: block;
    margin: 0;
    overflow: hidden;
}

.sidenav a:hover {
    color: #353b48;
}

*/
/*
.main {
    margin-left: 160px;  Same as the width of the sidebar 
    padding: 0px 10px;
*/
  <a href="/">Attendance Tracking</a>
          <a href="/users/<%= current_user.id %>/list_teacher">View All Teachers</a>
          <a href="/users/<%= current_user.id %>/list_client">View All Clients</a>
          <a href="/classes">View All Classes</a>
          <a href="#">Assign Grades</a>
          <a href="/subjects">View Subjects</a>


.header {
    position: absolute;
    width: 100%;
    z-index: 3;
    height: 44px;
    background-color: #032A33;
    border-bottom: 3px solid #2d3d51;
}
.side-nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #032A33;
    z-index: 1;
    display: none;
}
.side-nav ul {
    margin: 0;
    padding: 0;
}
.side-nav ul li {
    padding: 16px 16px;
    border-bottom: 1px solid #032A33;
    position: relative;
}
.side-nav ul li.active:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #F1D18A;
}
.side-nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
}
.side-nav ul li i {
    color: #0497df;
    min-width: 20px;
    text-align: center;
}
.side-nav ul li span:nth-child(2) {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}
/* main content styles */
.main-content {
    margin-top: 0;
    padding: 0;
    padding-top: 50px;
    height: 100%;
    display:block;
}

.side-nav.visible {
    display: block;
}

@media screen and (min-width: 600px) {
    .header {
        background-color: #032A33;
        z-index: 1;
    }
    .header .logo {
        display: none;
    }
    .nav-trigger {
        display: none;
    }
    .nav-trigger span, .nav-trigger span:before, span:after {
        background-color: #255965;
    }
    .side-nav {
        display: block;
        width: 70px;
        z-index: 2;
    }
    .side-nav ul li span:nth-child(2) {
        display: none;
    }
    .side-nav .logo i {
        padding-left: 12px;
    }
    .side-nav .logo span {
        display: none;
    }
    .side-nav ul li i {
        font-size: 26px;
    }
    .side-nav ul li a {
        text-align: center;
    }
    .main-content {
        margin-left: 70px;
        display:block;
    }
}
/* set element styles for desktop */
@media screen and (min-width: 800px) {
    .side-nav {
        width: 200px;
    }
    .side-nav ul li span:nth-child(2) {
        display: inline-block;
    }
    .side-nav ul li i {
        font-size: 16px;
    }
    .side-nav ul li a {
        text-align: left;
    }
    .side-nav .logo i {
        padding-left: 0;
    }
    .side-nav .logo span {
        display: inline-block;
    }
    .main-content {
        margin-left: 200px;
    }
}